ADaSci_Designing_Agentic_Architectures/Automating_Agent_Workflows_using_n8n/Automate_Blog_Content_Creation_with_GPT_4__Perplexity___WordPress.json
{
  "name": "Automate Blog Content Creation with GPT-4, Perplexity & WordPress",
  "nodes": [
    {
      "parameters": {
        "content": "## Perplexity Section\n🌐 Calls Perplexity API to get fresh research based on a form input.\n\n\n",
        "height": 300,
        "width": 460,
        "color": 4
      },
      "id": "b86a4b08-6fb6-4ebc-8ddb-f1cd0e4b1492",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \" Research the following topic and return everything you can find about: '{{ $json['Topic or Question'] }}'.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "16509f9d-ce54-4dab-b3ff-24760b0bde09",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        520
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "500b2464-88b1-44f5-bcc4-12c0acdc5773",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        940,
        420
      ],
      "webhookId": "b132ff74-2807-4cbf-b5b7-a62a207161d3",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "aec9523b-245a-48ff-a860-3239b869f676",
      "name": "Slack-List",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1880,
        820
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in SEO content writing.\n\nYour mission is to create, publish, and notify about a search engine optimized article for a blog focused on artificial intelligence. Follow the steps below: {{ $('Format Research Output').item.json.research }}\n\n1. **Write an SEO-optimized article with a maximum of 20 lines** based on the provided information:\n   - Structure the article with a catchy **H1 title**, one or two **H2 subtitles**, and a professional yet accessible tone.\n   - Extract and include relevant keywords from the data.\n   - Optimize for readability: short sentences, clear paragraphs, and a CTA if relevant.\n   - Do not exceed 20 lines of content.\n\n2. **Publish the article on WordPress**, including:\n   - The **title** as the article's headline\n   - The **SEO content** as the body\n\n3. **Send an email** to my address : {{ $json.emailAddress }} containing:\n   - The article's title\n   - The **URL** of the published article on WordPress\n\n4. **Retrieve the list of available Slack tools first** using “Slack Tools”.\n   - Then, send a notification on Slack that the article has been published, including:\n     - The article title\n     - The article link\n     - Slack channel ID: {{ $json.slackChannelId }}\n\n5. **Retrieve the list of available Notion tools first** using “Notion Tools”.\n   Then, **add a new entry to my Notion database** (ID: {{ $json.notionDatabaseId }}) with the following fields:\n   - The 'Name' column is of type 'title'  → {{ $('Start with Research Query Submission').item.json['Topic or Question'] }}\n   The 'Subject' column is of type 'rich_text' → [the article's headline]\n   - The 'Content'column is of type 'rich_text' → [The SEO content]\n   - The 'URL' column is of type 'URL': → [The article link]\n   - The 'Status' column is of type 'select' → Select: `publish`\n\nImportant: Ensure that each step is successfully completed **before proceeding to the next**.\n",
        "options": {}
      },
      "id": "1ecdcfed-c5d4-4ddc-aeb1-e760d295e5bc",
      "name": "Copywriting AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1400,
        520
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## My Copywriting AI Agent\n✍️ Transforms live research into SEO-optimized blog articles using GPT-4, then automatically publishes to WordPress, sends notifications via Gmail & Slack, and logs everything to Notion. This is your full-stack content assistant — from prompt to post, hands-free.\n**mcp-notion-server** : [Guide](https://github.com/suekou/mcp-notion-server)\n**mcp-slack-server** : [Guide](https://github.com/modelcontextprotocol/servers/tree/main/src/slack)",
        "height": 820,
        "width": 1300
      },
      "id": "aaab95dd-7fd2-411e-ba05-fa84568c0d56",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "type": "string",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" - source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3cbf58c-7c14-4695-8331-1750daf21d0d",
      "name": "Format Research Output",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        520
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
          "status": "publish"
        }
      },
      "id": "cd073bb3-3b6a-4910-9de4-bef66fc00a1f",
      "name": "Publish Article to WordPress",
      "type": "n8n-nodes-base.wordpressTool",
      "position": [
        1220,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "6940575a-d504-4276-8964-c41f26418f3c",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1740,
        820
      ],
      "webhookId": "b68c6af8-46e6-4ed9-ae72-445e9cb7ab88",
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "id": "da3c994c-60d5-41ef-9cf9-52daa77dc980",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        2020,
        820
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "9d36b649-f5e6-442c-bcab-53f0ca0dc2c2",
      "name": "Generate SEO Blog Content (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        980,
        820
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "formTitle": "AutoBlog Creator",
        "formDescription": "From research to article — no writing required",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic or Question",
              "fieldType": "textarea",
              "placeholder": "=How is GPT-4 transforming content creation in 2025?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "7a034005-68a3-40fa-bb94-cfdfab717cfc",
      "name": "Start with Research Query Submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        200,
        520
      ],
      "webhookId": "a29cbcd3-9d11-4f7c-9aad-14681c356c53",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Intro Sticky \n🔁 **This workflow automates the full cycle of SEO blog content creation** — from live topic research using Perplexity to blog publishing on WordPress, Slack/Gmail notifications, and Notion logging.",
        "height": 140,
        "width": 460,
        "color": 3
      },
      "id": "8cbad4aa-1802-4275-bbc4-c4d17673cd23",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c06b2d24-1fd7-40f0-aee5-b5d6553e289e",
              "name": "emailAddress",
              "type": "string",
              "value": ""
            },
            {
              "id": "451aad67-5190-4eab-a982-56092734bb07",
              "name": "slackChannelId",
              "type": "string",
              "value": ""
            },
            {
              "id": "8a294900-f367-47a2-b260-344b133dc2ff",
              "name": "notionDatabaseId",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "93e258e4-baa2-4af2-ba12-0f1727150e19",
      "name": "Edit Workflow Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        880
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Workflow Configuration Panel\n🛠️ **Set your variables here** (email, Slack, Notion, OpenAI model)",
        "height": 300,
        "width": 460,
        "color": 6
      },
      "id": "88cb2c49-be54-4df9-81ff-d709bde839e1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5075e00d-f1e9-4db2-85c1-d4d851f57abf",
      "name": "Notion-List",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1380,
        820
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "edf2d95b-b04d-40f9-9b8d-b53dd5912bab",
      "name": "Insert Article in Notion",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1560,
        820
      ],
      "typeVersion": 1,
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Slack-List": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion-List": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Format Research Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack Channel": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Research Output": {
      "main": [
        [
          {
            "node": "Edit Workflow Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Workflow Variables": {
      "main": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert Article in Notion": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Article to WordPress": {
      "ai_tool": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Blog Content (GPT-4o)": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriting AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start with Research Query Submission": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "3336",
    "instanceId": "6b808dfade922d5e61d63198af82136c4fbc71559d0e381963ffe19b37259e0c"
  },
  "tags": []
}